<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.vant.seckillmall.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="cc.vant.seckillmall.model.Goods">
    <!--@mbg.generated-->
    <!--@Table goods-->
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="amount" jdbcType="INTEGER" property="amount" />
    <result column="desc_info" jdbcType="VARCHAR" property="descInfo" />
    <result column="seckill_time" jdbcType="TIMESTAMP" property="seckillTime" />
    <result column="img_name" jdbcType="VARCHAR" property="imgName"/>
    <result column="status" jdbcType="BIT" property="status"/>
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
  </resultMap>
  <sql id="Base_Column_List">
      <!--@mbg.generated-->
      goods_id, goods_name, price, amount, desc_info, seckill_time, img_name, `status`,
      created_time, updated_time
  </sql>
  <select id="getGoodsList" resultMap="BaseResultMap">
    select goods_id, goods_name, price, amount, desc_info, seckill_time, img_name, status
    from goods where seckill_time >= #{startTime, jdbcType=TIMESTAMP} and seckill_time <![CDATA[ < ]]> #{endTime,jdbcType=TIMESTAMP}
  </select>
</mapper>
