<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.vant.seckillmall.mapper.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="cc.vant.seckillmall.model.OrderInfo">
    <!--@mbg.generated-->
    <!--@Table order_info-->
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="addr_id" jdbcType="INTEGER" property="addrId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    order_id, user_id, addr_id, `status`, created_time, updated_time
  </sql>
</mapper>